@font-face {
    font-family: "OpenSans-Light";
    src: url("/themes/fonts/OpenSans-Light_2.ttf") format("truetype");
}

@font-face {
    font-family: "Helvetica";
    src: url("/themes/fonts/Helvetica.otf") format("truetype");
}

@font-face {
    font-family: "Helvetica-Bold";
    src: url("/themes/fonts/Helvetica-Bold.ttf") format("truetype");
}

.nav-tabs {
    margin-bottom: 15px;
}

.title-name-product-detail {
    margin-top: 5px;
    margin-bottom: 5px;
}

.title-head-product-detail {
    margin-bottom: 10px;
}

.sign-with {
    font-size: 12px;
}

div#OR {
    height: 30px;
    width: 30px;
    border: 1px solid #c2c2c2;
    border-radius: 50%;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    font-size: 12px;
    float: right;
    position: absolute;
    right: -16px;
    top: 40%;
    z-index: 1;
    background: #dfdfdf;
}

.content-goixinh {
    min-height: 150px;
}

.nav-top {
    background-color: #956946;
    margin-bottom: 0;
}

.nav-top .navbar-nav li a {
    color: white;
}

.nav-top .navbar-brand {
    color: white;
    background-color: #4c311d;
}

.nav-top .navbar-nav li a:hover,
.nav-top .navbar-nav li a:active {
    color: #956946;
    background-color: white;
}

.nav-top .navbar-nav li a {
    border-right: 1px solid #6e4b2f;
}

.nav-top-phone {
    background-color: #fff;
}

.phone-info {
    font-size: 20px;
    font-weight: bold;
    color: #0f0f0f;
}

.infomation .nav-top-info li a:hover {
    color: #cb6c44;
}

.btn-search {
    color: #fff;
    background-color: #4b4b4b;
}

.btn-cart {
    color: #fff;
    background-color: #ef8084;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px;
}

.navbar-nav li .btn-sign-in {
    padding-right: 0px;
}

.navbar-nav li .btn-login {
    padding-left: 0px;
}

.btn-cart:hover {
    background-color: #ec676b;
}

.infomation {
    padding: 0;
}

.nav-top-info i {
    color: #956946;
}

.padding-0 {
    padding: 0;
}

.padding-left-0 {
    padding-left: 0;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

.nav-top-phone i {
    color: #512a0b;
}

.logo img {
    width: 100%;
    padding: 2px 12px;
    float: right;
    height: auto;
}

.home-box-img {
    width: 100%;
}

.color-icon-arrow {
    color: #de8a4e;
}

.info-signup {
    border-radius: 0px;
    border: 0px;
    border-bottom: 2px solid #d0cece;
}

.vertical-line {
    border-right: 1px solid #9f9f9f;
}

a:hover {
    text-decoration: none;
}


/*///////////////////////////////*/

.carousel {
    height: 50%;
}

.item,
.active,
.carousel-inner {
    height: 100%;
}


/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.catepro-footer {
    background-color: #eeeeee;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 7px solid #e7e6e2;
}

.text-catefooter {
    padding-left: 5px;
    font-size: 17px;
    font-weight: bold;
}

.list-unstyled li {
    color: #918f88;
    padding: 5px 5px;
}

.list-unstyled li a {
    color: #656472;
}

.list-unstyled li:hover {
    color: #373639;
}

.list-unstyled li a:hover {
    color: #373639;
}

.icon-Social-twtter {
    color: #68c6e2;
    font-size: 65px;
}

.icon-Social-face {
    color: #3a5aa3;
    font-size: 65px;
}

.icon-Social-youtube {
    color: #ce252c;
    font-size: 65px;
}

.ul-social {
    padding-right: 20px;
}

.info-footer {
    background-color: #3a3d44;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.info-footer {
    padding: 10px 10px;
    color: #fff;
}

.name-company {
    font-size: 15px;
    font-weight: bold;
}

.name-website {
    color: #e1be3e;
}

.nav-b ul {
    float: right;
}

.nav-b li {
    display: block;
    float: left;
    border-right: 1px solid #a6a6a6;
}

.nav-b li:first-child {
    border-left: 1px solid #a6a6a6;
}

.nav-b li a {
    font-size: 12px;
    line-height: 12px;
    color: #a6a6a6;
    margin: 0 10px;
}

.nav-b li a:hover {
    color: #f11;
}

.header-login {
    background-color: #0f7fc1;
    color: #fff;
}

.color-white {
    color: #fff;
}

.modal-login {
    width: 476px;
}

.news-right {
    margin-top: 13px;
    margin-left: 13px;
}

.font-bold {
    font-weight: bold;
}

.font-italic {
    font-style: italic;
}

.margintop-10 {
    margin-top: 10px;
}

.img-product-parent {
    width: 18%;
    height: auto;
}

.img-parent {
    width: 100%;
}

.panel-info .panel-detail-right {
    background: #00000094;
    color: #fff;
}

.related .panel-body {
    max-width: 240px;
    margin: 0 auto;
}

.related .panel-heading h2 {
    font-size: 26px;
    margin: 0;
}

.product-involve {
    width: 100%;
}

.product-involve img {
    width: 100%;
    height: 100%;
}

.name-product {}

span.belowtext {
    font-size: 14px !important;
    line-height: 15px;
}

.wcvaswatchlabel {
    margin-bottom: -5px;
}

.woocommerce div.product form.cart .variations {
    margin-bottom: 0px;
}

.reset_variations {
    display: none !important;
    margin: -20px;
}

.single_variation_wrap .quantity .qty {
    width: 3.631em;
    text-align: center;
}

.all-cate-type {
    margin-top: 15px;
}

.text-type-cate {
    border-bottom: 1px dotted #555;
    margin-bottom: 10px;
}

.title-form-require {
    border-bottom: 1px dotted #555;
    border-left: 5px solid #999;
    margin-top: 20px;
}

.margin-top-bottom {
    margin-top: 0px;
    margin-bottom: 0px;
}

.img-detail-type {
    width: 46%;
    float: right;
    margin-left: 510x;
}

.text-title-require {
    margin-left: 15px;
    font-size: 24px;
    font-weight: bold;
}

.pagination-category {
    float: left;
    width: 100%;
    text-align: right;
}

.pagination>.active>span,
.pagination>.active>span:hover {
    background-color: #6e4b2f;
    border-color: #6e4b2f;
}

.title-product-invo {
    margin: 10px;
    font-size: 20px;
}

.name-product-thumb {
    font-size: 15px;
    color: #636161ba;
}

.price-text {
    color: #636161ba;
}

.name-product-involve {
    text-align: center;
    color: #898f85;
    font-size: 16px;
}

.price-product-involve {
    font-size: 17px;
    text-align: center;
    color: #898f85;
}

.price-value {
    color: #565252d6;
    font-weight: bold;
    font-size: 16px;
}

.product-cate-type {
    width: 100%;
    margin-top: 10px;
    float: left;
    padding-bottom: 10px;
    border-bottom: 1px solid #cec6c6a6;
}

.content-require {
    margin-left: 20px;
    margin-top: 15px;
}

.form-require {
    margin-top: 20px;
    margin-bottom: 20px;
}

.img-cate-type {
    width: 45%;
    float: left;
}

.loginBtn {
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #fff;
    width: 150px;
}

.loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
}

.loginBtn:focus {
    outline: none;
}

.loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}


/* Facebook */

.loginBtn--facebook {
    background-color: #4c69ba;
    background-image: linear-gradient(#4c69ba, #3b55a0);
    /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
    text-shadow: 0 -1px 0 #354c8c;
}

.loginBtn--facebook:before {
    border-right: #364e92 1px solid;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png") 6px 6px no-repeat;
}

.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
    background-color: #5b7bd5;
    background-image: linear-gradient(#5b7bd5, #4864b1);
}


/* Google */

.loginBtn--google {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    background: #dd4b39;
}

.loginBtn--google:before {
    border-right: #bb3f30 1px solid;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png") 6px 6px no-repeat;
}

.loginBtn--google:hover,
.loginBtn--google:focus {
    background: #e74b37;
}


/************* NEW CSS ****************/

.ul-color {
    list-style-type: none;
}

.ul-color li {
    float: left;
    padding: 5px;
}

.img-color {
    width: 60px;
    height: 45px;
}

.border-solid-left {
    border-left: 5px solid #999;
    padding-left: 5px;
}

.detail-info {
    padding-left: 10px;
}

.color-detail {
    width: 20%;
    float: left;
    padding: 5px;
}

.text-color {
    text-align: center;
    font-size: 12px;
    line-height: 25px;
}

.banner-top {
    padding: 0px;
    padding-left: 13px;
}

.banner-bot {
    padding: 0px;
    padding-left: 13px;
    padding-top: 13px;
}

.pagination li a {
    color: #6e4b2f;
}

.pagination li a:hover {
    color: #fdfdfd;
    background-color: #907763;
}

.pagination .active a {
    background-color: #6e4b2f;
    color: #fdfdfd;
    border-color: #6e4b2f;
}

.pagination .active a:hover {
    background-color: #6e4b2f;
    color: #fdfdfd;
    border-color: #6e4b2f;
}

.pagination li a:focus {
    background-color: #6e4b2f;
    border-color: #6e4b2f;
    color: #fdfdfd;
}

.size-produt {
    float: left;
    width: 100%;
}

.detail-size {
    padding-top: 15px;
    float: left;
}

.order-product {
    padding: 0px 20px;
    background-color: #eeeeee;
    min-width: 500px;
    margin-top: 35px;
    border-radius: 10px;
    /* position: absolute;
    right: -35px;
    bottom: -315px; */
}

.list-help-product {
    list-style-type: none;
    display: block;
}

.list-help-product li {
    float: left;
    padding-right: 10px;
    padding-top: 10px;
}

.header-order {
    float: right;
    width: 100%;
    max-height: 50px;
    margin-top: 5px;
    background-color: #fdfdfd;
    /* border-bottom: 1px dotted #999; */
    padding-bottom: 10px;
}

.order-detail {
    float: left;
    padding-top: 10px;
}

.btn-order {
    background: #de5d5d;
    background: -webkit-gradient( linear, 0 0, 0 bottom, from(#de5d5d), to(#d82c2c));
    background: -moz-linear-gradient(#de5d5d, #d82c2c);
    background: linear-gradient(#de5d5d, #d82c2c);
    border: solid 1px #de5d5d;
    box-shadow: inset 0 0 0 1px #b98c62;
    color: #fff;
    text-shadow: 0 1px 0 #7b502e;
    display: inline-block;
    font: bold 12px Arial, Helvetica, Clean, sans-serif;
    margin: 0 25px 25px 0;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 15px;
}

a.btn-order:hover {
    text-decoration: none;
    color: #fff;
    background-color: #e85858;
}

a.btn-order:active {
    text-decoration: none;
    color: #fff;
    background-color: #e85858;
}

a.btn-order:focus {
    text-decoration: none;
    color: #fff;
    background-color: #e85858;
}

.table tbody tr td {
    border-top: 0px;
}

.sum-price {
    border-radius: 3px;
}

footer {
    margin: 20px 10px;
    padding-left: 12px;
}

.category-list h3 {
    font-size: 14px;
    margin: 0px;
}

#breadcrumbs {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#breadcrumbs li {
    margin: 0;
    padding: 3px;
    float: left;
}

.nav-top-phone a {
    padding-left: 0 !important;
}

.woocommerce-loop-product__title {
    font-size: 14px;
    margin: 8px 0 0;
    color: #000;
}

.slider {
    display: -webkit-box;
}

.img-large-product img {
    width: 100%;
    height: 100%;
}

.color-detail img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

h1.product_title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 5px;
}

.wpcf7-form-control-wrap input {
    width: 100% !important;
}

#footer {
    margin-top: 30px;
}

.woocommerce-product-gallery__image {
    margin-bottom: 13px;
}

.cart_totals h2 {
    font-size: 21px;
    margin: 0;
}

h1.title,
.title-h1 {
    margin-top: 10px;
    font-size: 26px;
    font-weight: bold;
    padding-left: 5px;
    border-left: solid 3px #ed1c24;
}

.imgloop {
    max-width: 250px;
    float: left;
}

.ct-post {
    padding-left: 260px;
}

.ct-post h3 {
    margin-top: 0px;
}

span.price {
    font-size: 12px;
    font-weight: bold;
}

.single_add_to_cart_button {
    background: #de5d5d !important;
    background: -webkit-gradient( linear, 0 0, 0 bottom, from(#de5d5d), to(#d82c2c)) !important;
    background: -moz-linear-gradient(#de5d5d, #d82c2c);
    background: linear-gradient(#de5d5d, #d82c2c);
    border: solid 1px #de5d5d !important;
    box-shadow: inset 0 0 0 1px #b98c62 !important;
    color: #fff !important;
    text-shadow: 0 1px 0 #7b502e !important;
    display: inline-block !important;
    font: bold 12px Arial, Helvetica, Clean, sans-serif;
    margin: 0 25px 25px 0 !important;
    padding: 10px 20px !important;
    border-radius: 3px !important;
    font-size: 15px !important;
}

.woocommerce-cart-form .sum {
    display: none;
}

.product-thumbnail img {
    max-width: 110px !important;
    height: auto !important;
}

.product-quantity .quantity {
    padding-top: 40px;
}

.woocommerce div.product form.cart {
    margin-bottom: 0 !important;
}

ul.page-numbers {
    float: right;
}

.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
    background-color: #a52a2a !important;
    border-color: #a52a2a !important;
    color: #fff !important;
}

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
    padding: 10px !important;
}

.quangcao {
    padding-left: 13px;
}

.ul-social {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 25px;
}

.ul-social li {
    float: left;
    margin-right: 5px;
}

.category-list {
    overflow: hidden;
    margin-bottom: 20px;
}

.product-item {
    padding-right: 7px;
}

.product-item .thumbnail {
    border: 1px solid #f7f7f7;
}

.product-item .thumbnail:hover {
    border: 1px solid #ddd;
    background-color: #ffee9e;
}

.product-item.last {
    padding-right: 0;
}