<% include ../playout/header.ejs %>
    <!-- END TOPBAR -->
    <!-- START CONTAINER -->
    <div class="page-container row-fluid container-fluid">
        <!-- SIDEBAR - START -->

        <% include ../playout/menu.ejs %>


            <!--  SIDEBAR - END -->
            <!-- START CONTENT -->
            <section id="main-content" class=" ">
                <section class="wrapper main-wrapper row" style=''>
                    <div class='col-xs-12'>
                        <div class="page-title">
                            <div class="pull-left">
                                <h1 class="title">Danh Sách Sản Phẩm</h1>
                            </div>
                            <div class="pull-right hidden-xs">

                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-lg-12">
                        <section class="box ">
                            <header class="panel_header">
                                <h2 class="title pull-left">Tất cả Sản Phẩm</h2>
                                <div class=" pull-right box-btn-add-category">
                                    <a href="/admin/product/add.html" class="btn btn-info btn-add-gox">Thêm Sản phẩm</a>
                                    <!-- <a class="box_toggle fa fa-chevron-down"></a>
                                    <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                                    <a class="box_close fa fa-times"></a> -->
                                </div>
                            </header>
                            <div class="content-body">
                                <div class="row">
                                    <% if(success_msg != ''){ %>
                                        <div class="alert alert-success">
                                            <%= success_msg%>
                                        </div>
                                        <% } %>
                                            <% if(error_msg != ''){ %>
                                                <div class="alert alert-danger">
                                                    <%= error_msg%>
                                                </div>
                                                <% } %>
                                                    <div class="col-xs-12">
                                                        <!-- ********************************************** -->
                                                        <table id="example" class="display table table-hover table-condensed">
                                                            <thead>
                                                                <tr>
                                                                    <th>STT</th>
                                                                    <th>Họ tên</th>
                                                                    <th>Email</th>
                                                                    <th>Số điện thoại</th>
                                                                    <th>Ảnh</th>
                                                                    <th>Trạng thái</th>
                                                                    <th>Hành động</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <% var id = 0 %>
                                                                    <% data.forEach(function(item){ id ++ %>
                                                                        <tr>
                                                                            <td>
                                                                                <%= id%>
                                                                            </td>
                                                                            <td>
                                                                                <%= item.name%>
                                                                            </td>
                                                                            <td>
                                                                                <%= item.email%>
                                                                            </td>
                                                                            <td>
                                                                                <%= item.phoneNumber%>
                                                                            </td>
                                                                            <td> <img src="upload/order/<%= item.image%>" width="80px" alt=""></td>
                                                                            <td>
                                                                                <%if(item.status==true){%>
                                                                                    <button class="btn btn-info" type="button">Đã check</button>
                                                                                    <%}else{%>
                                                                                        <button class="btn btn-danger" type="button">Chưa check</button>
                                                                                        <%}%>
                                                                            </td>

                                                                            <td>
                                                                                <!-- onclick="delete_product('<%= item._id %>','<%= item.codeProduct %>')" -->
                                                                                <a href="/admin/product-order/del/<%= item._id %>"><img src="/upload/delete-icon.png" alt="delete"></a>
                                                                                <a href="/admin/product-order/edit/<%= item._id %>"><img src="/upload/edit-icon.png" alt="view"></a>
                                                                            </td>
                                                                        </tr>
                                                                        <%})%>
                                                            </tbody>
                                                        </table>
                                                        <!-- ********************************************** -->
                                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </section>
            </section>
            <!-- END CONTENT -->
            <div class="chatapi-windows ">

            </div>

            <% include ../playout/footer.ejs %>
                <script type="text/javascript">
                    function delete_product(id, code) {
                        alert(id);
                        var checkConfirm = confirm("Bạn có muốn xóa bản ghi: " + code);
                        if (checkConfirm) {
                            // alert('bạn đã xóa');
                            $.get('/admin/product/del/' + id);
                        } else {
                            alert('bạn hủy xóa');
                        }
                    }
                </script>

                <script src="TT_Admin/assets/plugins/datatables/js/jquery.dataTables.min.js" type="text/javascript"></script>
                <script src="TT_Admin/assets/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js" type="text/javascript"></script>
                <script src="TT_Admin/assets/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js" type="text/javascript"></script>
                <script src="TT_Admin/assets/plugins/datatables/extensions/Responsive/bootstrap/3/dataTables.bootstrap.js" type="text/javascript"></script>