<% include ../playout/header.ejs %>
    <!-- END TOPBAR -->
    <!-- START CONTAINER -->
    <div class="page-container row-fluid container-fluid">
        <!-- SIDEBAR - START -->

        <% include ../playout/menu.ejs %>


            <!--  SIDEBAR - END -->
            <!-- START CONTENT -->
            <section id="main-content" class=" ">
                <section class="wrapper main-wrapper row" style=''>
                    <div class='col-xs-12'>
                        <div class="page-title">
                            <div class="pull-left">
                                <h1 class="title">Thêm Banner</h1>
                            </div>
                            <div class="pull-right hidden-xs">

                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-xs-12">
                        <section class="box ">
                            <header class="panel_header">
                                <h2 class="title pull-left">Thông Tin</h2>
                                <div class="actions panel_actions pull-right">
                                    <!-- <a class="box_toggle fa fa-chevron-down"></a>
                            <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                            <a class="box_close fa fa-times"></a> -->
                                </div>
                            </header>
                            <div class="content-body">
                                <div class="row">
                                    <% if(success_msg != ''){ %>
                                        <div class="alert alert-success">
                                            <%= success_msg%>
                                        </div>
                                        <% } %>
                                            <% if(error_msg != ''){%>
                                                <div class="alert alert-danger">
                                                    <%= error_msg%>
                                                </div>
                                                <%}%>
                                                    <% if(errors) { %>
                                                        <div class="alert alert-danger">
                                                            <% errors.forEach(function(e){ %>

                                                                <%= e.msg %> <br/>
                                                                    <%});%>

                                                        </div>
                                                        <% };%>
                                                            <form action="" method="post" enctype="multipart/form-data">
                                                                <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="field-120334">Tên *</label>
                                                                        <span class="desc"></span>
                                                                        <div class="controls">
                                                                            <input type="text" id="name" value="" class="form-control" name="name">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="field-120334">Tiêu đề *</label>
                                                                        <span class="desc"></span>
                                                                        <div class="controls">
                                                                            <input type="text" id="title" value="" class="form-control" name="title">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="field-120334">Liên kết</label>
                                                                        <span class="desc"></span>
                                                                        <div class="controls">
                                                                            <input type="text" id="link" value="" class="form-control" name="link">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="field-120334">Ảnh *</label>
                                                                        <span class="desc"></span>
                                                                        <div class="controls">
                                                                            <input type="file" id="image" value="" class="form-control" name="hinh">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="field-120334">Vị trí</label>
                                                                        <span class="desc"></span>
                                                                        <div class="controls">
                                                                            <select class="form-control" id="location" name="location">
                                                                                <option value="0" selected>Slider</option>
                                                                                <option value="1" >Banner right top</option>
                                                                                <option value="2" >Banner right center</option>
                                                                                <option value="3" >Banner right bottom</option>
                                                                                <option value="4" >Banner center bottom</option>
                                                                             </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="field-120334">Thứ tự *</label>
                                                                        <span class="desc"></span>
                                                                        <div class="controls">
                                                                            <input type="number" id="numberorder" value="" required class="form-control" name="numberorder">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="field-120334">Trạng thái</label>
                                                                        <span class="desc"></span>
                                                                        <div class="controls">
                                                                            <label><input type="radio" name="statusradio" value="true" checked>Enable</label>
                                                                            <label class="panel-radio-add-banner"><input type="radio" value="false" name="statusradio">Disable</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                                                    <div class="text-left">
                                                                        <button type="submit" class="btn btn-primary">Save</button>
                                                                        <a href="admin/banner/list.html" class="btn">Cancel</a>
                                                                    </div>
                                                                </div>
                                                            </form>
                                </div>
                            </div>
                        </section>
                    </div>
                </section>
            </section>
            <!-- END CONTENT -->
            <div class="chatapi-windows ">
            </div>
            <% include ../playout/footer.ejs %>