<% include ../playout/header.ejs %>
    <!-- END TOPBAR -->
    <!-- START CONTAINER -->
    <div class="page-container row-fluid container-fluid">
        <!-- SIDEBAR - START -->

        <% include ../playout/menu.ejs %>


            <!--  SIDEBAR - END -->
            <!-- START CONTENT -->
            <section id="main-content" class=" ">
                <section class="wrapper main-wrapper row" style=''>
                    <div class='col-xs-12'>
                        <div class="page-title">
                            <div class="pull-left">
                                <h1 class="title">Danh Sách Banner</h1>
                            </div>
                            <div class="pull-right hidden-xs">

                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-lg-12">
                        <section class="box ">
                            <header class="panel_header">
                                <h2 class="title pull-left">Tất cả Banner</h2>
                                <div class=" pull-right box-btn-add-category">
                                    <a href="/admin/banner/add.html" class="btn btn-info btn-add-gox">Thêm Banner</a>
                                    <!-- <a class="box_toggle fa fa-chevron-down"></a>
                                <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                                <a class="box_close fa fa-times"></a> -->
                                </div>

                            </header>
                            <div class="content-body">
                                <div class="row">
                                    <% if(success_msg != ''){ %>
                                        <div class="alert alert-success">
                                            <%= success_msg%>
                                        </div>
                                        <% } %>
                                            <% if(error_msg != ''){ %>
                                                <div class="alert alert-danger">
                                                    <%= error_msg%>
                                                </div>
                                                <% } %>
                                                    <div class="col-xs-12">
                                                        <!-- ********************************************** -->
                                                        <table id="example" class="display table table-hover table-condensed">
                                                            <thead>
                                                                <tr>
                                                                    <th>STT</th>
                                                                    <th>Tên</th>
                                                                    <th>Tiêu đề</th>
                                                                    <th>Vị trí</th>
                                                                    <th>Ảnh</th>
                                                                    <th>Thứ tự</th>
                                                                    <th>Trạng thái</th>
                                                                    <th>Hành động</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody style="text-align:center">
                                                                <% var id = 0 %>
                                                                    <% data.forEach(function(item){ id ++%>
                                                                        <tr>
                                                                            <td>
                                                                                <%= id%>
                                                                            </td>
                                                                            <td>
                                                                                <%= item.nameBanner%>
                                                                            </td>
                                                                            <td>
                                                                                <%= item.titleBanner%>
                                                                            </td>
                                                                            <td>
                                                                                <%if(item.locationBanner==0){%>
                                                                                    Slider
                                                                                    <%}else if(item.locationBanner==1){%>
                                                                                        Banner right top
                                                                                        <%}else if(item.locationBanner==2){%>
                                                                                            Banner right center
                                                                                            <%}else if(item.locationBanner==3){%>
                                                                                                Banner right bottom
                                                                                                <%}else{%>
                                                                                                    Banner center bottom
                                                                                                    <%}%>
                                                                            </td>
                                                                            <td>
                                                                                <img src="upload/<%= item.imageBanner%>" alt="<%= item.imageBanner%>" width="100px">
                                                                            </td>
                                                                            <td>
                                                                                <%= item.numberOrder%>
                                                                            </td>
                                                                            <td>
                                                                                <%if(item.status==true){%>
                                                                                    Enable
                                                                                    <%}else{%>
                                                                                        Disable
                                                                                        <%}%>
                                                                            </td>
                                                                            <td style="text-align:center">
                                                                                <a href="/admin/banner/del/<%= item._id %>"><img src="/upload/delete-icon.png" alt="delete"></a>
                                                                                <!-- <a href="/admin/category/<%= item._id %>/xoa-cate.html">Xoá</a> | -->
                                                                                <a href="/admin/banner/edit/<%= item._id %>"><img src="/upload/edit-icon.png" alt="edit"></a>
                                                                            </td>
                                                                        </tr>
                                                                        <%})%>
                                                            </tbody>
                                                        </table>
                                                        <!-- ********************************************** -->
                                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </section>
            </section>
            <!-- END CONTENT -->
            <div class="chatapi-windows ">

            </div>

            <% include ../playout/footer.ejs %>
                <script src="TT_Admin/assets/plugins/datatables/js/jquery.dataTables.min.js" type="text/javascript"></script>
                <script src="TT_Admin/assets/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js" type="text/javascript"></script>
                <script src="TT_Admin/assets/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js" type="text/javascript"></script>
                <script src="TT_Admin/assets/plugins/datatables/extensions/Responsive/bootstrap/3/dataTables.bootstrap.js" type="text/javascript"></script>