<% include ../playout/header.ejs %>
    <!-- END TOPBAR -->
    <!-- START CONTAINER -->
    <div class="page-container row-fluid container-fluid">
        <!-- SIDEBAR - START -->

        <% include ../playout/menu.ejs %>


            <!--  SIDEBAR - END -->
            <!-- START CONTENT -->
            <section id="main-content" class=" ">
                <section class="wrapper main-wrapper row" style=''>
                    <div class='col-xs-12'>
                        <div class="page-title">
                            <div class="pull-left">
                                <h1 class="title">Chỉnh Sửa Danh mục</h1>
                            </div>
                            <div class="pull-right hidden-xs">

                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-xs-12">
                        <section class="box ">
                            <header class="panel_header">
                                <h2 class="title pull-left">Thông Tin</h2>
                                <div class="actions panel_actions pull-right">
                                    <a class="box_toggle fa fa-chevron-down"></a>
                                    <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                                    <a class="box_close fa fa-times"></a>
                                </div>
                            </header>
                            <div class="content-body">
                                <div class="row">
                                    <% if(success_msg != ''){ %>
                                        <div class="alert alert-success">
                                            <%= success_msg%>
                                        </div>
                                        <% } %>
                                            <% if(error_msg != ''){%>
                                                <div class="alert alert-danger">
                                                    <%= error_msg%>
                                                </div>
                                                <%}%>
                                                    <% if(errors) { %>
                                                        <div class="alert alert-danger">
                                                            <% errors.forEach(function(e){ %>
                                                                <%= e.msg %> <br/>
                                                                    <%});%>
                                                        </div>
                                                        <% };%>
                                                            <% if(error!='') { %>
                                                                <div class="alert alert-danger">
                                                                    <% error.forEach(function(e){ %>
                                                                        <%= e.msg %> <br/>
                                                                            <%});%>
                                                                </div>
                                                                <% };%>
                                                                    <form action="" method="post">
                                                                        <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                                                            <div class="form-group">
                                                                                <label class="form-label" for="field-120334">Mã</label>
                                                                                <span class="desc"></span>
                                                                                <div class="controls">
                                                                                    <input type="text" id="code" value="<%= data.code%>" class="form-control" name="code">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                                                            <div class="form-group">
                                                                                <label class="form-label" for="field-120334">Tên</label>
                                                                                <span class="desc"></span>
                                                                                <div class="controls">
                                                                                    <input type="text" id="name" value="<%= data.nameCategory%>" class="form-control" name="name">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                                                            <div class="form-group">
                                                                                <label class="form-label" for="field-120334">Danh mục cha</label>
                                                                                <span class="desc"></span>
                                                                                <div class="controls">
                                                                                    <select class="form-control" id="cate" name="cate">
                                                                                        <option value="0">---Không---</option>
                                                                                       <%if(data.categoryParent){%>
                                                                                    <% CategoryList.forEach(function(item){ %>                                                                                       
                                                                                        <option value="<%= item._id%>" <%= ( data.categoryParent.toString() == item._id.toString()  )? 'selected=\"selected\"' : ''%> ><%= item.nameCategory%></option>
                                                                                    <%})}else{%>
                                                                                        <% CategoryList.forEach(function(item){ %>                                                                                       
                                                                                            <option value="<%= item._id%>"><%=item.nameCategory%></option>
                                                                                        <%})}%>
                                                                                </select>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                                                            <div class="form-group">
                                                                                <label class="form-label" for="field-120334">Trạng thái</label>
                                                                                <span class="desc"></span>
                                                                                <div class="controls">
                                                                                    <label><input type="radio" name="statusradio" <% if(data.status){ %> checked="checked" <% } %> value="true" >Enable</label>
                                                                                    <label class="panel-radio-add-banner"><input type="radio" <% if(!data.status){ %> checked="checked" <% } %> value="false" name="statusradio">Disable</label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                                                            <div class="text-left">
                                                                                <button type="submit" class="btn btn-primary">Cập nhật</button>
                                                                                <a href="/admin/category/list.html" class="btn">Hủy</a>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                </div>
                            </div>
                        </section>
                    </div>
                </section>
            </section>
            <!-- END CONTENT -->
            <div class="chatapi-windows ">
            </div>
            <% include ../playout/footer.ejs %>