<div class="homebanner">
    <div id="sync1" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
        <div class="owl-wrapper-outer">
            <div class="owl-wrapper" style="">
                <div class="owl-item" style="width: 790px;">
                    <!-- <div class="item">
                        <a aria-label="slide" href="https://www.thegioididong.com/dtdd/samsung-galaxy-note-9"><img src="tmp/banner1.png" alt="2018 - AU - Galaxy Note 9 - Normal Sale"></a>
                    </div> -->

                    <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width: 790px; height: 300px;overflow:hidden;visibility:hidden;">
                        <!-- Loading Screen -->
                        <div data-u="loading" class="jssorl-009-spin" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
                            <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="img/spin.svg" />
                        </div>
                        <div data-u="slides" id="box-img-banner-slider" style="cursor:default;position:relative;top:0px;left:0px;width: 790px; height: 300px;overflow:hidden;">

                            <%BannerSliderData.forEach(function(item){%>
                                <div data-p="170.00">
                                    <a href="<%=item.linkBanner%>" target="_blank">  <img data-u="image" src="/upload/<%=item.imageBanner%>" alt="<%=item.titleBanner%>" title="<%=item.titleBanner%>" /></a>
                                </div>

                                <%})%>
                        </div>
                        <!-- Bullet Navigator -->
                        <div data-u="navigator" class="jssorb051" style="position:absolute;bottom:12px;right:12px;" data-autocenter="1" data-scale="0.5" data-scale-bottom="0.75">
                            <div data-u="prototype" class="i" style="width:16px;height:16px;">
                                <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                                            <circle class="b" cx="8000" cy="8000" r="5800"></circle>
                                        </svg>
                            </div>
                        </div>
                        <!-- Arrow Navigator -->
                        <div data-u="arrowleft" class="jssora051" style="width:55px;height:55px;top:0px;left:25px;" data-autocenter="2" data-scale="0.75" data-scale-left="0.75">
                            <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                                        <polyline class="a" points="11040,1920 4960,8000 11040,14080 "></polyline>
                                    </svg>
                        </div>
                        <div data-u="arrowright" class="jssora051" style="width:55px;height:55px;top:0px;right:25px;" data-autocenter="2" data-scale="0.75" data-scale-right="0.75">
                            <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                                        <polyline class="a" points="4960,1920 11040,8000 4960,14080 "></polyline>
                                    </svg>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="sync2" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
        <div class="owl-item" style="width: 158px;">
            <div class="item">
                <h3><a href="/gioi-thieu"> Giới Thiệu</a></h3>
            </div>
        </div>
        <div class="owl-item" style="width: 158px;">
            <div class="item">
                <h3><a href="/cach-mua-hang">Cách mua hàng</a></h3>
            </div>
        </div>
        <div class="owl-item" style="width: 158px;">
            <div class="item">
                <h3><a href="/huong-dan-thanh-toan">Hướng dẫn thanh toán</a></h3>
            </div>
        </div>
        <div class="owl-item synced" style="width: 158px;">
            <div class="item">
                <h3><a href="/giao-hang">Giao hàng</a></h3>
            </div>
        </div>
        <div class="owl-item synced" style="width: 158px;">
            <div class="item">
                <h3><a href="/bao-hanh">Bảo hành</a></h3>
            </div>
        </div>
    </div>
</div>

<div class="homenews">
    <div class="twobanner">
        <a aria-label="slide" id="link-banner-right-top" target="_blank" href=""><img id="img-banner-right-top" src="" alt="goxinh.net" title="goxinh.net"></a>
        <a aria-label="slide" target="_blank" id="link-banner-right-center" href=""><img id="img-banner-right-center" src="" alt="goxinh.net" title="goxinh.net"></a>
        <a aria-label="slide" target="_blank" id="link-banner-right-bottom" href=""><img id="img-banner-right-bottom" src="" alt="goxinh.net"></a>
    </div>

</div>

<div class="clr"></div>
<div class="promotebanner">
    <a aria-label="slide" id="link-banner-center-bottom" href=""><img id="img-banner-center-bottom" src="" alt="goxinh.net" title="goxinh.net" width="100%"></a>
</div>

<script>
    $(document).ready(() => {

        $.post(
            "/banner/get-right-top", {},
            function(data) {
                if (data.status) {
                    $('#img-banner-right-top').attr('src', '/upload/' + data.dataBannerRightTop.imageBanner);
                    $('#img-banner-right-top').attr('alt', data.dataBannerRightTop.nameBanner);
                    $('#img-banner-right-top').attr('title', data.dataBannerRightTop.nameBanner);
                    $('#link-banner-right-top').attr('href', data.dataBannerRightTop.linkBanner);
                }
            }
        );
        $.post(
            "/banner/get-right-bottom", {},
            function(data) {
                if (data.status) {
                    $('#img-banner-right-bottom').attr('src', '/upload/' + data.dataBannerRightBottom.imageBanner);
                    $('#img-banner-right-bottom').attr('alt', data.dataBannerRightBottom.nameBanner);
                    $('#img-banner-right-bottom').attr('title', data.dataBannerRightBottom.nameBanner);
                    $('#link-banner-right-bottom').attr('href', data.dataBannerRightBottom.linkBanner);
                }
            }
        )
        $.post(
            "/banner/get-right-center", {},
            function(data) {
                if (data.status) {
                    $('#img-banner-right-center').attr('src', '/upload/' + data.dataBannerRightCenter.imageBanner);
                    $('#img-banner-right-center').attr('alt', data.dataBannerRightCenter.nameBanner);
                    $('#img-banner-right-center').attr('title', data.dataBannerRightCenter.nameBanner);
                    $('#link-banner-right-center').attr('href', data.dataBannerRightCenter.linkBanner);
                }
            }
        )
        $.post(
            "/banner/get-center-bottom", {},
            function(data) {
                if (data.status) {
                    $('#img-banner-center-bottom').attr('src', '/upload/' + data.dataBannerCenterBottom.imageBanner);
                    $('#img-banner-center-bottom').attr('alt', data.dataBannerCenterBottom.nameBanner);
                    $('#img-banner-center-bottom').attr('title', data.dataBannerCenterBottom.nameBanner);
                    $('#link-banner-center-bottom').attr('href', data.dataBannerCenterBottom.linkBanner);
                }
            }
        )
    })
</script>
<script type="text/javascript">
    $(document).ready(() => {

        jssor_1_slider_init = function() {
            var jssor_1_SlideshowTransitions = [{
                $Duration: 800,
                $Opacity: 2
            }];

            var jssor_1_options = {
                $AutoPlay: 1,
                $Cols: 1,
                $Align: 0,
                $SlideshowOptions: {
                    $Class: $JssorSlideshowRunner$,
                    $Transitions: jssor_1_SlideshowTransitions,
                    $TransitionsOrder: 1
                },
                $ArrowNavigatorOptions: {
                    $Class: $JssorArrowNavigator$
                },
                $BulletNavigatorOptions: {
                    $Class: $JssorBulletNavigator$
                }
            };

            var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

            /*#region responsive code begin*/

            var MAX_WIDTH = 980;

            function ScaleSlider() {
                var containerElement = jssor_1_slider.$Elmt.parentNode;
                var containerWidth = containerElement.clientWidth;

                if (containerWidth) {

                    var expectedWidth = Math.min(MAX_WIDTH || containerWidth, containerWidth);

                    jssor_1_slider.$ScaleWidth(expectedWidth);
                } else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }

            ScaleSlider();

            $Jssor$.$AddEvent(window, "load", ScaleSlider);
            $Jssor$.$AddEvent(window, "resize", ScaleSlider);
            $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
            /*#endregion responsive code end*/
        };
    })
</script>
<style>
    /* jssor slider loading skin spin css */
    
    .jssorl-009-spin img {
        animation-name: jssorl-009-spin;
        animation-duration: 1.6s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    
    @keyframes jssorl-009-spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    
    .jssorb051 .i {
        position: absolute;
        cursor: pointer;
    }
    
    .jssorb051 .i .b {
        fill: #fff;
        fill-opacity: 0.5;
    }
    
    .jssorb051 .i:hover .b {
        fill-opacity: .7;
    }
    
    .jssorb051 .iav .b {
        fill-opacity: 1;
    }
    
    .jssorb051 .i.idn {
        opacity: .3;
    }
    
    .jssora051 {
        display: block;
        position: absolute;
        cursor: pointer;
    }
    
    .jssora051 .a {
        fill: none;
        stroke: #fff;
        stroke-width: 360;
        stroke-miterlimit: 10;
    }
    
    .jssora051:hover {
        opacity: .8;
    }
    
    .jssora051.jssora051dn {
        opacity: .5;
    }
    
    .jssora051.jssora051ds {
        opacity: .3;
        pointer-events: none;
    }
</style>
<script type="text/javascript">
    $(document).ready(() => {

        jssor_1_slider_init();
        //     $.post(
        //         "/banner/get-slider", {},
        //         function(data) {
        //             if (data.status) {
        //                 data.data.map((item, index) => {
        //                     console.log(item);
        //                     $('#box-img-banner-slider').append(`
        //                         <div data-p="170.00">
        //                             <a href="${item.linkBanner}" target="_blank">  <img data-u="image" src="/upload/${item.imageBanner}" alt="${item.titleBanner}" title="${item.titleBanner}" /></a>
        //                         </div>
        //                     `)
        //                 })
        //             }
        //         }
        //     );
    })
</script>