<% include ../playout/header.ejs %>
    <!-- END TOPBAR -->
    <!-- START CONTAINER -->
    <div class="page-container row-fluid container-fluid">
        <!-- SIDEBAR - START -->

        <% include ../playout/menu.ejs %>


            <!--  SIDEBAR - END -->
            <!-- START CONTENT -->
            <section id="main-content" class=" ">
                <section class="wrapper main-wrapper row" style=''>
                    <div class='col-xs-12'>
                        <div class="page-title">
                            <div class="pull-left">
                                <h1 class="title">Danh Sách Hóa Đơn</h1>
                            </div>
                            <div class="pull-right hidden-xs">

                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-lg-12">
                        <section class="box ">
                            <header class="panel_header">
                                <h2 class="title pull-left">Tất cả hóa đơn</h2>
                                <div class=" pull-right box-btn-add-category">
                                    <!-- <a href="/admin/cart/add.html" class="btn btn-info btn-add-gox">Thêm Danh Mục</a> -->
                                    <!-- <a class="box_toggle fa fa-chevron-down"></a>
                                    <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                                    <a class="box_close fa fa-times"></a> -->
                                </div>

                            </header>
                            <div class="content-body">
                                <div class="row">
                                    <% if(success_msg != ''){ %>
                                        <div class="alert alert-success">
                                            <%= success_msg%>
                                        </div>
                                        <% } %>
                                            <% if(error_msg != ''){ %>
                                                <div class="alert alert-danger">
                                                    <%= error_msg%>
                                                </div>
                                                <% } %>
                                                    <div class="col-xs-12">
                                                        <!-- ********************************************** -->
                                                        <table id="example" class="display table table-hover table-condensed">
                                                            <thead>
                                                                <tr>
                                                                    <th>STT</th>
                                                                    <th>Tên khách hàng</th>
                                                                    <th>Số điện thoại</th>
                                                                    <th>Địa chỉ</th>
                                                                    <th>Email</th>
                                                                    <th>Ngày</th>
                                                                    <th>Tổng tiền</th>
                                                                    <th>Trạng thái</th>
                                                                    <th>Hành động</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <% var dem = 1 %>
                                                                    <% data.forEach(function(item){ %>
                                                                        <tr>
                                                                            <td>
                                                                                <%= dem%>
                                                                            </td>
                                                                            <td>
                                                                                <%= item.name%>
                                                                            </td>
                                                                            <td>
                                                                                <%= item.phoneNumber%>
                                                                            </td>
                                                                            <td>
                                                                                <%= item.address%>
                                                                            </td>
                                                                            <td>
                                                                                <%= item.email%>
                                                                            </td>
                                                                            <td>
                                                                                <%=moment(item.dateCreate).format('DD-MM-YYYY HH:mm')  %>
                                                                            </td>
                                                                            <td>
                                                                                <%=item.summaryMoney.toLocaleString()%>
                                                                            </td>
                                                                            <td>
                                                                                <%if(item.statusOrder==0){%>
                                                                                    <label class="btn-success btn-padding-status-cart">Mới</label>
                                                                                    <%}else if(item.statusOrder==1){ %>
                                                                                        <label class="btn-warning">Đang giao hàng</label>
                                                                                        <%}else if(item.statusOrder==3){%>
                                                                                            <label class="btn-info">Đã xong</label>
                                                                                            <%}else{%>
                                                                                                <label class="btn-danger">Đã hủy</label>
                                                                                                <%}%>
                                                                            </td>
                                                                            <td style="text-align:center">
                                                                                <a href="/admin/cart/del/<%= item._id %>"><img src="/upload/delete-icon.png" alt="Xóa"></a>
                                                                                <!-- <a href="/admin/category/<%= item._id %>/xoa-cate.html">Xoá</a> | -->
                                                                                <a href="/admin/cart/view/<%= item._id %>"><img src="/upload/edit-icon.png" alt="Xem"></a>
                                                                            </td>
                                                                        </tr>
                                                                        <% dem ++; })%>
                                                            </tbody>
                                                        </table>
                                                        <!-- ********************************************** -->
                                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </section>
            </section>
            <!-- END CONTENT -->
            <div class="chatapi-windows ">

            </div>

            <% include ../playout/footer.ejs %>
                <script src="TT_Admin/assets/plugins/datatables/js/jquery.dataTables.min.js" type="text/javascript"></script>
                <script src="TT_Admin/assets/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js" type="text/javascript"></script>
                <script src="TT_Admin/assets/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js" type="text/javascript"></script>
                <script src="TT_Admin/assets/plugins/datatables/extensions/Responsive/bootstrap/3/dataTables.bootstrap.js" type="text/javascript"></script>