<% include ../playout/header.ejs %>
    <!-- END TOPBAR -->
    <!-- START CONTAINER -->
    <div class="page-container row-fluid container-fluid">
        <!-- SIDEBAR - START -->

        <% include ../playout/menu.ejs %>


            <!--  SIDEBAR - END -->
            <!-- START CONTENT -->
            <section id="main-content" class=" ">
                <section class="wrapper main-wrapper row" style=''>
                    <div class='col-xs-12'>
                        <div class="page-title">
                            <div class="pull-left">
                                <h1 class="title">Đơn đặt hàng</h1>
                            </div>
                            <div class="pull-right hidden-xs">

                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-lg-12">
                        <section class="box ">
                            <header class="panel_header">
                                <h2 class="title pull-left">Chi tiết đơn đặt hàng</h2>
                                <div class="actions panel_actions pull-right">
                                    <a class="box_toggle fa fa-chevron-down"></a>
                                    <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                                    <a class="box_close fa fa-times"></a>
                                </div>
                            </header>
                            <div class="content-body">
                                <div class="row">
                                    <% if(success_msg != ''){ %>
                                        <div class="alert alert-success">
                                            <%= success_msg%>
                                        </div>
                                        <% } %>
                                            <div class="row" style="padding-left: 50px;">
                                                <div>
                                                    <p><strong>Họ tên: </strong>
                                                        <%= data.name %>
                                                    </p>
                                                </div>
                                                <div>
                                                    <p><strong>Số điện thoại: </strong>
                                                        <%= data.phoneNumber %>
                                                    </p>
                                                </div>
                                                <div>
                                                    <p><strong>Email: </strong>
                                                        <%= data.email %>
                                                    </p>
                                                </div>
                                                <div>
                                                    <p><strong>Ngày đặt hàng: </strong>
                                                        <%=moment(data.dateCreate).format('DD-MM-YYYY HH:mm')  %>
                                                    </p>
                                                </div>
                                                <div>
                                                    <p><strong>Ghi chú: </strong>
                                                        <%= data.notes %>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-xs-12">
                                                <!-- ********************************************** -->
                                                <table id="example" class="display table table-hover table-condensed">
                                                    <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Sản phẩm</th>
                                                            <th>Ảnh</th>
                                                            <th>Kích thước</th>
                                                            <th>Số Lượng</th>
                                                            <th>Đơn giá</th>
                                                            <th>Thành tiền</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% var id = 0; var total = 0 %>
                                                            <% data.cartProduct.forEach(function(item){ id ++; total += item.money;%>
                                                                <tr>
                                                                    <td>
                                                                        <%= id%>
                                                                    </td>
                                                                    <td>
                                                                        <%= item.name%>
                                                                    </td>
                                                                    <td> <img src="/upload/product/<%= item.image%>" width="100px" alt=""></td>
                                                                    <td>
                                                                        <%= item.size%>
                                                                    </td>
                                                                    <td>
                                                                        <%= item.quanlity%>
                                                                    </td>
                                                                    <td>
                                                                        <%= item.price.toLocaleString()%>
                                                                    </td>
                                                                    <td>
                                                                        <%= item.money.toLocaleString()%> đ</td>
                                                                </tr>
                                                                <%})%>
                                                                    <tr>
                                                                        <td colspan="5"><label for="">Trạng thái: &nbsp;&nbsp;&nbsp;&nbsp;</label>
                                                                            <%if(data.statusOrder==0){%>
                                                                                <label class="btn-success btn-padding-status-cart">Mới</label>
                                                                                <%}else if(item.statusOrder==1){ %>
                                                                                    <label class="btn-warning">Đang giao hàng</label>
                                                                                    <%}else if(item.statusOrder==3){%>
                                                                                        <label class="btn-info">Đã xong</label>
                                                                                        <%}else{%>
                                                                                            <label class="btn-danger">Đã hủy</label>
                                                                                            <%}%>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="5">
                                                                            <p><strong style="color:red">Tồng Tiền: </strong>
                                                                                <b> <%= total.toLocaleString() %>đ</b></p>
                                                                        </td>
                                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                                    <div class="text-left">
                                                        <!-- <button type="submit" class="btn btn-primary">Cập nhật</button> -->
                                                        <a href="/admin/cart/list.html" class="btn">Quay lại</a>
                                                    </div>
                                                </div>
                                                <!-- ********************************************** -->
                                            </div>
                                </div>
                            </div>

                        </section>
                    </div>
                </section>
            </section>
            <!-- END CONTENT -->
            <div class="chatapi-windows ">

            </div>

            <% include ../playout/footer.ejs %>
                <script src="TT_Admin/assets/plugins/datatables/js/jquery.dataTables.min.js" type="text/javascript"></script>
                <script src="TT_Admin/assets/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js" type="text/javascript"></script>
                <script src="TT_Admin/assets/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js" type="text/javascript"></script>
                <script src="TT_Admin/assets/plugins/datatables/extensions/Responsive/bootstrap/3/dataTables.bootstrap.js" type="text/javascript"></script>