</div>
<!-- END CONTAINER -->
<!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->
<!-- CORE JS FRAMEWORK - START -->
<script src="TT_Admin/assets/js/jquery-1.11.2.min.js" type="text/javascript"></script>
<script src="TT_Admin/assets/js/jquery.easing.min.js" type="text/javascript"></script>
<script src="TT_Admin/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="TT_Admin/assets/plugins/pace/pace.min.js" type="text/javascript"></script>
<script src="TT_Admin/assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js" type="text/javascript"></script>
<script src="TT_Admin/assets/plugins/viewport/viewportchecker.js" type="text/javascript"></script>

<script>
    window.jQuery || document.write('<script src="TT_Admin/assets/js/jquery-1.11.2.min.js"><\/script>');
</script>
<!-- CORE JS FRAMEWORK - END -->
<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
<!-- <script src="TT_Admin/assets/plugins/jvectormap/jquery-jvectormap-2.0.1.min.js" type="text/javascript"></script> -->
<!--  <script src="TT_Admin/assets/plugins/jvectormap/jquery-jvectormap-world-mill-en.js" type="text/javascript"></script> -->
<script src="TT_Admin/assets/plugins/echarts/echarts-custom-for-dashboard.js" type="text/javascript"></script>
<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->
<!-- CORE TEMPLATE JS - START -->
<script src="TT_Admin/assets/js/scripts.js" type="text/javascript"></script>

<!-- END CORE TEMPLATE JS - END -->
<!-- General section box modal start -->
<div class="modal" id="section-settings" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog animated bounceInDown">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Section Settings</h4>
            </div>
            <div class="modal-body">
                Body goes here...
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                <button class="btn btn-success" type="button">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- modal end -->
<script type="text/javascript">
    $(document).ready(function() {
        $.post(
            './admin/getUser', {

            },
            function(data) {
                // console.log('1');
                console.log(data);
                $('img.avatar').attr('src', '/upload/' + data.avatar);
                $('.name').html(data.fullName);
            }
        )
    });
</script>
</body>

</html>