<div class="page-sidebar pagescroll">
    <!-- MAIN MENU - START -->
    <div class="page-sidebar-wrapper" id="main-menu-wrapper">
        <!-- USER INFO - START -->
        <div class="profile-info row">
            <div class="profile-image col-xs-4">
                <a href="ui-profile.html">
                    <img alt="" src="" class="img-responsive img-circle avatar">
                </a>
            </div>
            <div class="profile-details col-xs-8">
                <h3>
                    <a href="ui-profile.html" class="name">Shane Taylor</a>
                    <!-- Available statuses: online, idle, busy, away and offline -->
                    <span class="profile-status online"></span>
                </h3>
                <p class="profile-title">Web administrator</p>
            </div>
        </div>
        <!-- USER INFO - END -->
        <ul class='wraplist'>
            <li class='menusection'>Main</li>
            <li class="open">
                <a href="/admin">
                    <i class="fa fa-dashboard"></i>
                    <span class="title">Dashboard</span>
                </a>
            </li>

            <li class="">
                <a href="admin/category/list.html">
                    <i class="fa fa-suitcase"></i>
                    <span class="title">Danh mục</span>
                    <!-- <span class="arrow "></span> -->
                </a>
                <!-- <ul class="sub-menu">
                    <li>
                        <a class="" href="admin/cate/danh-sach.html">Danh Sách</a>
                    </li>
                    <li>
                        <a class="" href="admin/cate/them-cate.html">Thêm</a>
                    </li>
                </ul> -->
            </li>
            <li class="">
                <a href="admin/product/list.html">
                    <i class="fa fa-newspaper-o"></i>
                    <span class="title">Sản Phẩm</span>
                    <!-- <span class="arrow "></span> -->
                </a>
            </li>
            <li class="">
                <a href="admin/size-product/list.html">
                    <i class="fa fa-newspaper-o"></i>
                    <span class="title">Kích Thước Sản Phẩm</span>
                    <!-- <span class="arrow "></span> -->
                </a>

            </li>

            <li class="">
                <a href="admin/cart/list.html">
                    <i class="fa fa-shopping-cart"></i>
                    <span class="title">Đơn Hàng</span>
                    <!-- <span class="arrow "></span> -->
                </a>
                <!-- <ul class="sub-menu">
                    <li>
                        <a class="" href="admin/cart/danh-sach.html">Danh Sách</a>
                    </li>
                </ul> -->
            </li>
            <li class="">
                <a href="/admin/banner/list.html">
                    <i class="fa fa-puzzle-piece"></i>
                    <span class="title">Banner</span>
                </a>
            </li>
            <li class="">
                <a href="/admin/news/list.html">
                    <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                    <span class="title">Tin tức</span>
                </a>
            </li>
            <li class="">
                <a href="/admin/product-order/list.html">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    <span class="title">Hàng yêu cầu</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- MAIN MENU - END -->
</div>