<% include ../playout/header.ejs %>
    <!-- END TOPBAR -->
    <!-- START CONTAINER -->
    <div class="page-container row-fluid container-fluid">
        <!-- SIDEBAR - START -->

        <% include ../playout/menu.ejs %>


            <!--  SIDEBAR - END -->
            <!-- START CONTENT -->
            <section id="main-content" class=" ">
                <section class="wrapper main-wrapper row" style=''>
                    <div class='col-xs-12'>
                        <div class="page-title">
                            <div class="pull-left">
                                <h1 class="title">Sửa Kích Thước</h1>
                            </div>
                            <div class="pull-right hidden-xs">

                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-xs-12">
                        <section class="box ">
                            <header class="panel_header">
                                <h2 class="title pull-left">Thông Tin</h2>
                                <div class="actions panel_actions pull-right">
                                    <!-- <a class="box_toggle fa fa-chevron-down"></a>
                        <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                        <a class="box_close fa fa-times"></a> -->
                                </div>
                            </header>
                            <div class="content-body">
                                <div class="row">
                                    <% if(success_msg != ''){ %>
                                        <div class="alert alert-success">
                                            <%= success_msg%>
                                        </div>
                                        <% } %>
                                            <% if(error_msg != ''){%>
                                                <div class="alert alert-danger">
                                                    <%= error_msg%>
                                                </div>
                                                <%}%>
                                                    <% if(errors) { %>
                                                        <div class="alert alert-danger">
                                                            <% errors.forEach(function(e){ %>

                                                                <%= e.msg %> <br/>
                                                                    <%});%>

                                                        </div>
                                                        <% };%>
                                                            <form action="" method="post">
                                                                <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="field-120334">Sản phẩm</label>
                                                                        <span class="desc"></span>
                                                                        <div class="controls">
                                                                            <select class="form-control" id="product" name="product">
                                                                                    <option value="0" selected>---Không---</option>
                                                                                <% dataPro.forEach(function(item){ %> 
                                                                                    <option value="<%= item._id%>"  <%= (item._id.toString() == data.idProduct.toString()) ? 'selected=\"selected\"' : ''%>><%= item.nameProduct%></option>
                                                                                <%})%>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="field-120334">Chiều dài (cm)</label>
                                                                        <span class="desc"></span>
                                                                        <div class="controls">
                                                                            <input type="number" id="length" value="<%=data.sizeLength%>" required class="form-control" name="length">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="field-120334">Chiều rộng (cm)</label>
                                                                        <span class="desc"></span>
                                                                        <div class="controls">
                                                                            <input type="number" id="width" value="<%=data.sizeWidth%>" required class="form-control" name="width">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="field-120334">Chiều cao (cm)</label>
                                                                        <span class="desc"></span>
                                                                        <div class="controls">
                                                                            <input type="number" id="height" value="<%=data.sizeHeight%>" required class="form-control" name="height">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="field-120334">Giá</label>
                                                                        <span class="desc"></span>
                                                                        <div class="controls">
                                                                            <input type="number" id="price" value="<%=data.priceProduct%>" required class="form-control" name="price">
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="field-120334">Trạng thái</label>
                                                                        <span class="desc"></span>
                                                                        <div class="controls">
                                                                            <label><input type="radio" name="statusradio" value="true" <% if(data.status){ %> checked="checked" <% } %>>Enable</label>&nbsp;&nbsp;&nbsp;
                                                                            <label class="panel-radio-add-banner"><input type="radio" value="false" <% if(!data.status){ %> checked="checked" <% } %> name="statusradio">Disable</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                                                    <div class="text-left">
                                                                        <button type="submit" class="btn btn-primary">Lưu</button>
                                                                        <a href="admin/size-product/list.html" class="btn">Hủy</a>
                                                                    </div>
                                                                </div>
                                                            </form>
                                </div>
                            </div>
                        </section>
                    </div>
                </section>
            </section>
            <!-- END CONTENT -->
            <div class="chatapi-windows ">
            </div>
            <% include ../playout/footer.ejs %>