<% include ../playout/header.ejs %>
    <!-- END TOPBAR -->
    <!-- START CONTAINER -->
    <div class="page-container row-fluid container-fluid">
        <!-- SIDEBAR - START -->

        <% include ../playout/menu.ejs %>


            <!--  SIDEBAR - END -->
            <!-- START CONTENT -->
            <section id="main-content" class=" ">
                <section class="wrapper main-wrapper row" style=''>
                    <div class='col-xs-12'>
                        <div class="page-title">
                            <div class="pull-left">
                                <h1 class="title">Sửa Sản Phẩm</h1>
                            </div>
                            <div class="pull-right hidden-xs">

                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-xs-12">
                        <section class="box ">
                            <header class="panel_header">
                                <h2 class="title pull-left">Thông Tin</h2>
                                <div class="actions panel_actions pull-right">
                                    <a class="box_toggle fa fa-chevron-down"></a>
                                    <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                                    <a class="box_close fa fa-times"></a>
                                </div>
                            </header>
                            <div class="content-body">
                                <div class="row">
                                    <% if(success_msg != ''){ %>
                                        <div class="alert alert-success">
                                            <%= success_msg%>
                                        </div>
                                        <% } %>
                                            <% if(error_msg != ''){ %>
                                                <div class="alert alert-danger">
                                                    <%= error_msg%>
                                                </div>
                                                <% } %>
                                                    <% if(errors) { %>
                                                        <div class="alert alert-danger">
                                                            <% errors.forEach(function(e){ %>

                                                                <%= e.msg %> <br/>
                                                                    <%});%>

                                                        </div>
                                                        <% };%>

                                                            <form action="" method="post" enctype="multipart/form-data">
                                                                <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="field-120334">Tên sản phẩm</label>
                                                                        <span class="desc"></span>
                                                                        <div class="controls">
                                                                            <input type="text" id="name" value="<%=dataOnePro.nameProduct%>" class="form-control" name="name">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="field-120334">Mã sản phẩm</label>
                                                                        <span class="desc"></span>
                                                                        <div class="controls">
                                                                            <input type="text" id="code" value="<%=dataOnePro.codeProduct%>" class="form-control" name="code">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="field-120334">Đơn vị</label>
                                                                        <span class="desc"></span>
                                                                        <div class="controls">
                                                                            <input type="text" id="unit" value="<%=dataOnePro.unitProduct%>" class="form-control" name="unit">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="field-120334">Mô tả sản phẩm</label>
                                                                        <span class="desc"></span>
                                                                        <div class="controls">
                                                                            <input type="text" id="description" value="<%=dataOnePro.description%>" class="form-control" name="description">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="field-120334">Chi tiết sản phẩm</label>
                                                                        <span class="desc"></span>
                                                                        <div class="controls">
                                                                            <textarea name="detail" id="detail" class="form-control autogrow" cols="80" rows="10"><%=dataOnePro.detailProduct%></textarea>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="field-120334">Giá</label>
                                                                        <span class="desc"></span>
                                                                        <div class="controls">
                                                                            <input type="number" value="<%=dataOnePro.priceProduct%>" min="0" id="price" class="form-control" name="price">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="field-120334">Ảnh Sản phẩm</label>
                                                                        <span class="desc"></span><br>
                                                                        <%if(dataOnePro.imageProduct){%>
                                                                            <img src="upload/product/<%= dataOnePro.imageProduct%>" width="200px">
                                                                            <%}%>
                                                                                <div class="controls">
                                                                                    <input type="file" id="imageproduct" value="" class="form-control" name="imageproduct">
                                                                                </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="field-120334">Ảnh 1</label>
                                                                        <span class="desc"></span><br>
                                                                        <%if(dataOnePro.imageOne){%>
                                                                            <img src="upload/product/<%= dataOnePro.imageOne%>" width="200px">
                                                                            <%}%>
                                                                                <div class="controls">
                                                                                    <input type="file" id="imageone" value="" class="form-control" name="imageone">
                                                                                </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="field-120334">Ảnh 2</label>
                                                                        <span class="desc"></span><br>
                                                                        <%if(dataOnePro.imageTwo){%>
                                                                            <img src="upload/product/<%= dataOnePro.imageTwo%>" width="200px">
                                                                            <%}%>
                                                                                <div class="controls">
                                                                                    <input type="file" id="imagetwo" value="" class="form-control" name="imagetwo">
                                                                                </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="field-120334">Ảnh 3</label>
                                                                        <span class="desc"></span><br>
                                                                        <%if(dataOnePro.imageThree){%>
                                                                            <img src="upload/product/<%= dataOnePro.imageThree%>" width="200px">
                                                                            <%}%>
                                                                                <div class="controls">
                                                                                    <input type="file" id="imagethree" value="" class="form-control" name="imagethree">
                                                                                </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="field-120334">Ảnh 4</label>
                                                                        <span class="desc"></span><br>
                                                                        <%if(dataOnePro.imageFour){%>
                                                                            <img src="upload/product/<%= dataOnePro.imageFour%>" width="200px">
                                                                            <%}%>
                                                                                <div class="controls">
                                                                                    <input type="file" id="imagefour" value="" class="form-control" name="imagefour">
                                                                                </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="field-120334">Ảnh 5</label>
                                                                        <span class="desc"></span><br>
                                                                        <%if(dataOnePro.imageFive){%>
                                                                            <img src="upload/product/<%= dataOnePro.imageFive%>" width="200px">
                                                                            <%}%>
                                                                                <div class="controls">
                                                                                    <input type="file" id="imagefive" value="" class="form-control" name="imagefive">
                                                                                </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="field-120334">Danh mục</label>
                                                                        <span class="desc"></span>
                                                                        <div class="controls">
                                                                            <select class="form-control" id="cate" name="category">
                                                                     <% cateData.forEach(function(item){ %> 
                                                                         <option value="<%= item._id%>"  <%= (item._id.toString() == dataOnePro.categoryID.toString()) ? 'selected=\"selected\"' : ''%>><%= item.nameCategory%></option>
                                                                    <%})%>
                                                                 </select>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="field-120334">Sản phẩm đồng bộ</label>
                                                                        <span class="desc"></span>
                                                                        <div class="controls">

                                                                            <label><input type="radio"  <% if(dataOnePro.productSync){ %> checked="checked" <% } %>  name="productasync" value="true" >Enable</label>
                                                                            <label class="panel-radio-add-banner"><input type="radio"  <% if(!dataOnePro.productSync){ %> checked="checked" <% } %>  value="false" name="productasync">Disable</label>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="field-120334">Thuộc Sản phẩm đồng bộ</label>
                                                                        <span class="desc"></span>
                                                                        <div class="controls">
                                                                            <select class="form-control" id="productidasync" name="productidasync">
                                                                        <option value="0">---Không--- </option>
                                                                         <% productData.forEach(function(item){ %> 
                                                                             <option value="<%= item._id%>" <%= (dataOnePro.productIDSync!= null && item._id.toString() == dataOnePro.productIDSync.toString()) ? 'selected=\"selected\"' : ''%>><%= item.codeProduct%> - <%= item.nameProduct%>  </option>
                                                                        <%})%>
                                                                     </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="field-120334">Trạng thái</label>
                                                                        <span class="desc"></span>
                                                                        <div class="controls">
                                                                            <label><input type="radio" name="statusradio" <% if(dataOnePro.status){ %> checked="checked" <% } %> value="true" >Enable</label>
                                                                            <label class="panel-radio-add-banner"><input type="radio"  <% if(!dataOnePro.status){ %> checked="checked" <% } %> value="false" name="statusradio">Disable</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                                                    <div class="text-left">
                                                                        <button type="submit" class="btn btn-primary">Lưu</button>
                                                                        <a href="admin/product/list.html" class="btn">Hủy</a>
                                                                    </div>
                                                                </div>
                                                            </form>

                                </div>
                            </div>
                        </section>
                    </div>
                </section>
            </section>
            <!-- END CONTENT -->
            <div class="chatapi-windows ">
            </div>
            <% include ../playout/footer.ejs %>
                <script>
                    CKEDITOR.replace('detail', {
                        fullPage: true,
                        extraPlugins: 'docprops',
                        // Disable content filtering because if you use full page mode, you probably
                        // want to  freely enter any HTML content in source mode without any limitations.
                        allowedContent: true,
                        height: 320
                    });
                </script>