<% include ../playout/header.ejs %>
    <!-- END TOPBAR -->
    <!-- START CONTAINER -->
    <div class="page-container row-fluid container-fluid">
        <!-- SIDEBAR - START -->

        <% include ../playout/menu.ejs %>


            <!--  SIDEBAR - END -->
            <!-- START CONTENT -->
            <section id="main-content" class=" ">
                <section class="wrapper main-wrapper row" style=''>
                    <div class='col-xs-12'>
                        <div class="page-title">
                            <div class="pull-left">
                                <h1 class="title">Import excel</h1>
                            </div>
                            <div class="pull-right hidden-xs">

                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-xs-12">
                        <section class="box ">
                            <header class="panel_header">
                                <h2 class="title pull-left">Nhập sản phẩm từ excel</h2>
                                <div class="actions panel_actions pull-right">
                                    <a class="box_toggle fa fa-chevron-down"></a>
                                    <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                                    <a class="box_close fa fa-times"></a>
                                </div>
                            </header>
                            <div class="content-body">
                                <div class="row">
                                    <% if(success_msg != ''){ %>
                                        <div class="alert alert-success">
                                            <%= success_msg%>
                                        </div>
                                        <% } %>
                                            <% if(error_msg != ''){ %>
                                                <div class="alert alert-danger">
                                                    <%= error_msg%>
                                                </div>
                                                <% } %>


                                                    <form method="post" class="form-horizontal" enctype="multipart/form-data">
                                                        <div class="form-group"><label class="col-sm-2 control-label">Tệp tin</label>
                                                            <div class="col-sm-6"><input type="file" name="excelfile" class="form-control"></div>
                                                        </div>

                                                        <div class="hr-line-dashed"></div>

                                                        <div class="form-group">
                                                            <div class="col-sm-4 col-sm-offset-2">
                                                                <a href="/admin/product/list.html" class="btn btn-white">Hủy</a>
                                                                <button class="btn btn-primary" type="submit"><i class="fa fa-upload"></i>&nbsp;Upload</button>
                                                            </div>
                                                        </div>

                                                        <!-- <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                                            <div class="text-left">
                                                                <button type="submit" class="btn btn-primary">Lưu</button>
                                                                <a href="admin/product/list.html" class="btn">Hủy</a>
                                                            </div>
                                                        </div> -->
                                                    </form>

                                </div>
                            </div>
                        </section>
                    </div>
                </section>
            </section>
            <!-- END CONTENT -->
            <div class="chatapi-windows ">
            </div>
            <% include ../playout/footer.ejs %>
                <script>
                    CKEDITOR.replace('detail', {
                        fullPage: true,
                        extraPlugins: 'docprops',
                        // Disable content filtering because if you use full page mode, you probably
                        // want to  freely enter any HTML content in source mode without any limitations.
                        allowedContent: true,
                        height: 320
                    });
                </script>